.header {
  background-color: #FF7F11; /* naranja vivo */
  color: white;
  padding: 2rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
}

/* Fondo negro para la sección de tarjetas */
.card-section {
  background-color: #121212;
  padding: 2rem;
  min-height: 100vh;
}

/* Estilo para las tarjetas */
.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;
}

.character-card {
  background-color: #1f1f1f;
  color: white;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  text-align: center;
  transition: transform 0.3s ease;
}

.character-card:hover {
  transform: scale(1.05);
}

.character-image {
  width: 100%;
  height: 250px; /* Ajusta la altura según necesites */
  object-fit: cover; /* Este es el truco: recorta y centra */
  border-radius: 8px;
  margin-bottom: 1rem;
}
.filter-search-container {
  display: flex;
  align-items: center;
  background-color: #1e1e1e;
  padding: 1rem;
  gap: 1rem;
  flex-wrap: wrap;
}

.filter-search-container label {
  color: white;
  font-weight: bold;
}

.filter-search-container select,
.filter-search-container input {
  padding: 0.5rem;
  border-radius: 10px;
  border: none;
  background-color: #333;
  color: white;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  gap: 10px;
}

.pagination-controls button {
  padding: 8px 16px;
  background-color: #ff7f00;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.pagination-controls button:disabled {
  background-color: #666;
  cursor: not-allowed;
}
